/* src/globals.css */

/* These are the 3 directives that load all of Tailwind's styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* This just makes text look a little nicer */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}